h1 {
color:blue;
}

p{
color:purple;
margin-left:;
margin-right: ;
margin:;
}
body{
background-image: url("https://tse1.mm.bing.net/th?id=OIP.xV2Dj_cNetInlO5qbbWsxgHaKd&pid=Api&P=0&w=300&h=300") ;
background-size: cover ;
background-repeat: no-repeat;
background-position: 100px 100px;
border: 10px
marg
}
